<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Que pedo maje</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <style>
        
    </style>

<!-- ------------------------------------------------------------------------------------------------ -->

<h1 class="">Hola soy un texto que se hace nigga cuando abren el menu</h1>



<!-- Boton que despliega la ventana emergente -->
<div class="flex justify-center items-center h-screen">
    <button class="bg-[#E95F4A] hover:bg-orange-800 px-3 py-3 rounded text-white m-5 showModal lg:w-4/12">
      <img src="https://st3.depositphotos.com/7863750/15507/i/1600/depositphotos_155079246-stock-photo-cat-with-camera-1.jpg">
      Que pedo Ramirez
    </button>
</div>

<div class="modal h-screen w-full fixed left-0 top-0 flex justify-center place-items-center bg-black bg-opacity-50 hidden">
    <!-- Ventana Emergente -->
    <div class="bg-[#ecf0f1] rounded shadow-lg w-11/12 md:w-1/3">
        <!-- Encabezado Ventana -->
        <div class="border-b px-4 py-2 flex justify-between">
            <h3 class="font-semibold text-lg">Editar Imagen de Perfil</h3>
        </div>
        <!-- Cuerpo de la Ventana -->
        <div class="px-5 py-5">
            <img class="rounded-full" src="https://i.pinimg.com/originals/81/4b/e3/814be363aa5c02ce13ea2f555ade21b5.jpg" alt="">
        </div>
        <div class="flex justify-between items-center w-100 border-t p-3">
            <button class="hover:bg-gray-200 px-3 py-1 rounded text-gray mr-2 closeModal">Quitese alv >:v</button>
            <button class="bg-[#E95F4A] hover:bg-orange-800 px-3 py-1 rounded text-white">Asi mero kbron Bv</button>
        </div>
    </div>
</div>

<script>
    const modal = document.querySelector('.modal');

    const showModal = document.querySelector('.showModal');
    const closeModal = document.querySelector('.closeModal');

    showModal.addEventListener('click', function(){
        modal.classList.remove('hidden')
    });

    closeModal.addEventListener('click', function(){
        modal.classList.add('hidden')
    });

</script>

</body>
</html>